* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    --primary: #1e90ff;
    --secondary: #d5e8fa; 
    --tertiary: rgb(71, 163, 255);
    --fourth: #222b34;
    --logo-color: #002d5ea1;
  }
body {
  font-family: "Nunito", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60vh 40vh;
}
.first {
  background-color: var(--primary);
  grid-column: span 2;
  position: relative;
}
.second {
  background-color: var(--secondary);
}
.third {
  background-color: var(--secondary);
}
footer {
  background-color: var(--fourth);
  grid-column: span 2;
}
.first h1,
.first h3, .first-container p {
  text-align: center;
}
.first h1 {
  font-size: 5rem;
  vertical-align: middle;
}
.first p{
    font-size: 1rem;
    font-weight: bold;
    color: var(--logo-color);
}
.first h3{
    margin-top: 1%;
    color: #0b1f32;
}
.first-container{
    /* border: 1px solid black; */
    margin-top: 13vh;
}
.card{
    border: 1px solid rgb(158, 161, 161);
    text-align: center;
    margin: 50px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 33%;
    border-radius: 3px;
}
.card h2{
    font-size: 2rem;
}
.card button{
    width: 40%;
    height: 45px;
    margin: 3% 30% 0 30%;
    border-style: none;
    border-radius: 3px;
    background-color: var(--primary);
}
.card button{
  font-weight: bold;
  color: #0b1f32;
  text-decoration: none;
  cursor: pointer;
}
.card button:hover{
    background-color: var(--tertiary);
    transition: .2s;
}
.card p{
    font-weight: bold;
}
#logo{
    color: var(--logo-color);
    font-style: italic;
    font-size: 1.3rem;
    font-weight: 900;
    margin: 10px 0 0 50px;
}
#code-symbol{
  font-size: 1.5rem;
  font-weight: 1000;
}
footer{
    text-align: center;
    padding: 20px 0px;
    color: rgb(104, 109, 115);
}
footer ul{
  display: flex;
  justify-content: center;
  list-style: none;
}
footer ul li a{
  color: var(--primary);
  margin: 10px 20px;
  font-size: 2rem;
}
footer div p i#heart, footer #chandra{
  color: var(--primary);
}
footer div h3{
  font-size: 1.5rem;
  margin-bottom: 10px;
}
footer div p{
  margin-top: 10px;
}
/*Other pages*/
.other-body{
  display: block;
}
.other-h1-headings{
  background-color: var(--primary);
  text-align: center;
  padding: 1rem;
}
.other-pages ul{
  padding: 2rem;
  text-align: center;
  list-style: none;
  line-height: 2.2rem;
}

.other-pages>ul>li>a{
  background-color: var(--primary);
  color: black;
  padding: 0.1rem 0.5rem;
  border-radius: 3px;
  text-decoration: none;
}

.other-pages>ul.btn-list-ul{
  /* border: 2px solid blue; */
  width: 50%;
  margin-left: 25%;
}
.other-pages ul.btn-list-ul > li{
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--secondary);
  padding: .5rem 1rem;
}
.next-section-line{
  width: 100%;
  height: 2rem;
}

/* For Tablets/iPads Devices */
@media (min-width: 481px) and (max-width: 1200px){
    body{
      display: flex;
      flex-direction: column;
    }
    .first{
        height: fit-content;
        padding: 0 0 2rem 0;
    }
    .first-container{
        margin-top: 20vh;
    }
    /*other pages*/
    .other-pages>ul.btn-list-ul{
      margin: 0;
      width: 100%;
    }
    .other-pages>ul.btn-list-ul>li{
      padding: .5rem;
    }
    .other-pages>ul.btn-list-ul>li>a{
      height: fit-content;
    }
}
/* For Mobile Devices: */
@media (max-width: 480px){
    body{
        display: flex;
        flex-direction: column;
      }
    .first{
        height: fit-content;
    }  
    .first-container{
        margin-top: 3vh;
    }
    .first h1{
        font-size: 3rem;
    }
    .card button{
        width: 60%;
        margin: 1% 20% 0 20%;
    }
    .card{
      margin: 50px 50px 0 50px;
    }
    #logo{
        margin:0;
    }
    .first{
        padding: 10px 20px 20px 20px;
    }
    .card button{
      width: 100%;
      margin: 8% 0 4% 0;
    }
    .first-container h1{
      font-weight: 800;
      font-size: 3rem;
    }
    #study-text{
      font-size: 5rem;
    }
    footer{
      margin-top: 50px;
    }
    /*other pages*/
    .other-pages>ul.btn-list-ul{
      margin: 0;
      width: 100%;
    }
    .other-pages>ul.btn-list-ul>li{
      padding: .5rem;
    }
    .other-pages>ul.btn-list-ul>li>span{
      font-size: .9rem;
    }
    .other-pages>ul.btn-list-ul>li>a{
      height: fit-content;
    }
}
